$white: #eeeeee;
$font1: #ecc78d;
$font2: #d0dfe4;
$back1: #33575b;
$back2: #2e0a05;
$medium: #ad6a1d;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $font1;
  line-height: 1.6rem;
}

p {
  margin: 10px 0;
  line-height: 1.6em;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  margin: 10px 0;
  line-height: 1.4em;
}
